/* Variables
---------------------------*/

$color-text: #323;
$color-link: crimson;
$color-link-hover: red;
$color-background: #eee;

$radius: 12px;
$color-border: #fff;

$breakpoint-3: 48em; // 768px / 16px
$breakpoint-2: 36em; // 576px / 16px
$breakpoint-1: 24em; // 384px / 16px